#map {
	position: absolute; 
	top: 0; 
	bottom: 0; 
	width: 100%;
	height: 100%;
}

body { 
	margin: 0; 
	padding: 0; 
}

.row {
	padding-top: 60px;
}

#mynavbarbrand {
	color: white;
}

h4 {
	text-decoration: underline;
	font-weight: bolder;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

#text {
	padding-left: 15px;
	padding-right: 15px;
}