{% extends "maps/base.html" %}
{% block content %}
<div id="text">
  <p>This page was created out of a desire to more easily view non-motorized and motorized zones in the Sea to Sky. As someone who backcountry skis and snowmobiles I found it difficult to find high-resolution maps or downloadable formats for phone applications such as Gaia. This made it very challenging to know the exact location of the non-motorized boundaries. While resources did exist, such as iMapBC where recreation zones can be visualized and downloaded, none that I could find were easily accessible to the everyday person.</p>
  <p><strong>IMPORTANT: </strong> Presented winter recreation areas are in effect from December 1 to May 31 annually and refer to non-commercial activities.</p>
  <p><strong>LIMITATIONS: </strong>This site does not warrant the quality, accuracy, or completeness of any information, data or product from these web pages. It is provided "AS IS" without warranty or condition of any nature.</p>
</div>
{% endblock content %}