{% extends "maps/base.html" %}
{% block content %}
  <h4>GAIA GPX Files</h4>
  <ul>
    <li><a href="https://lrmp-zones.s3.amazonaws.com/Non-Motorized-December1-May31.gpx">
      Non-Motorized (December 1 to May 31)
    </a></li>
    <li><a href="https://lrmp-zones.s3.amazonaws.com/Non-Motorized-Air-Access-Allowed-December1-May31.gpx">
      Non-Motorized Air Access Allowed (December 1 to May 31)
    </a></li>
    <li><a href="https://lrmp-zones.s3.amazonaws.com/Motorized-December1-May31.gpx">
      Motorized (December 1 to May 31)
    </a></li>
    <li><a href="https://lrmp-zones.s3.amazonaws.com/Shared-Use-December1-May31.gpx">
      Shared Use (December 1 to May 31)
    </a></li>
  </ul>
  <h4>Google Earth KML Files</h4>
  <ul>
    <li><a href="https://lrmp-zones.s3.amazonaws.com/Non-Motorized-December1-May31.kml">
      Non-Motorized (December 1 to May 31)
    </a></li>
    <li><a href="https://lrmp-zones.s3.amazonaws.com/Non-Motorized-Air-Access-Allowed-December1-May31.kml">
      Non-Motorized Air Access Allowed (December 1 to May 31)
    </a></li>
    <li><a href="https://lrmp-zones.s3.amazonaws.com/Motorized-December1-May31.kml">
      Motorized (December 1 to May 31)
    </a></li>
    <li><a href="https://lrmp-zones.s3.amazonaws.com/Shared-Use-December1-May31.kml">
      Shared Use (December 1 to May 31)
    </a></li>
  </ul>
{% endblock content %}