{% extends "maps/base.html" %}
{% block content %}
  <div id="map"></div>
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiZGxodXJsZXkiLCJhIjoiY2sya2xrMTJqMWFjMzNucXB3bnp1MXd0ZyJ9.UBKniAsr5Li1Yv5dJOP5yQ';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/dlhurley/ckjah9xzk52hn19rnp7g4sf9m'
    });

    var popup = new mapboxgl.Popup({ closeOnClick: false })
		.setLngLat([-123.011, 50.08])
		.setHTML('<h3><strong>WARNING: </strong></h3><p>This site is indpendent of government sources and in no way associated with Sea to Sky Natural Resource District. This site does not warrant the quality, accuracy, or completeness of any information, data or product from these web pages. It is provided "AS IS" without warranty or condition of any nature.</p><h5><strong>IMPORTANT</strong></h5><p>Displayed areas reflect non-commercial winter recreation zones. All areas are in effect from December 1 to May 31 with the exception of the Callaghan non-motorized area (section 58) which is in effect from November 1 to May 15.</p>')
		.addTo(map);
  </script>
{% endblock content %}