{% extends "maps/base.html" %}
{% load static %}
{% block content %}
  <h4>Description of Areas</h4>
  <p>The below table is taken from the Sea-to-Sky LRMP document dated April 2008.</p>
  <img src="{% static 'images/zone-description.png'%}" alt="">
  <h4>Helpful Links</h4>
  <ul>
    <li><a href="https://www2.gov.bc.ca/gov/content/industry/crown-land-water/land-use-planning/regions/south-coast-region-plans/seatosky-lrmp">
      Sea to Sky Land & Resource Management Plan (LRMP) Homepage
    </a></li>
    <li><a href="https://www2.gov.bc.ca/assets/gov/farming-natural-resources-and-industry/natural-resource-use/land-water-use/crown-land/land-use-plans-and-objectives/southcoast-region/seatosky-lrmp/legal/seatosky_lrmp_land_act_permission_notice_3apr2020.pdf">
      Notice of Public Permission Rescission - Winter Non-Motorized Recreation Zoning (April 2020)
    </a></li>
    <li><a href="https://backcountrybc.ca/issues/active-campaigns/124-issues/mainland-southwest/sea-2-sky/non-motorized-zones">
      Non-Motorized Zones - BC Mountaineering Club (BCMC) Homepage
    </a></li>
    <li><a href="https://maps.gov.bc.ca/ess/hm/imap4m/">
      iMapBC - source for map data layers, search for the layer named 'Winter Recreation Zoning - Non-Commercial - Sea to Sky LRMP - Non Legal'
    </a></li>
  </ul>
  <hr>
  <p>
    Note, this is not an exhaustive list of resources. If you know of more please contact me and I will add them.
  </p>
{% endblock content %}
