{% extends "maps/base.html" %}
{% load static %}
{% block content %}
<div id="text">
  <h4>Description of Areas</h4>
  <p>The below table is taken from the Sea-to-Sky LRMP document dated April 2008 (see link below).</p>
  <img src="{% static 'images/zone-description.png'%}" alt="">
  <h4>Enforcement Period</h4>
  <p>All non-motorized areas defined in the LRMP are in effect from December 1 to May 31. A seperate non-motorized area for the Callaghan (section 58 order) is in effect from November 1 to May 15.</p>
  <h4>Sea to Sky Land & Resource Management Plan (LRMP) Links</h4>
  <ul>
    <li><a href="https://www2.gov.bc.ca/gov/content/industry/crown-land-water/land-use-planning/regions/south-coast-region-plans/seatosky-lrmp">
      Sea to Sky Land & Resource Management Plan (LRMP) Homepage
    </a></li>
    <li><a href="https://www2.gov.bc.ca/assets/gov/farming-natural-resources-and-industry/natural-resource-use/land-water-use/crown-land/land-use-plans-and-objectives/southcoast-region/seatosky-lrmp/legal/seatosky_lrmp_land_act_permission_notice_3apr2020.pdf">
      Notice of Public Permission Rescission - Winter Non-Motorized Recreation Zoning (April 2020)
    </a></li>
    <li><a href="https://www2.gov.bc.ca/assets/gov/farming-natural-resources-and-industry/natural-resource-use/land-water-use/crown-land/land-use-plans-and-objectives/southcoast-region/seatosky-lrmp/plan/seatosky_lrmp_plan_amendment_12mar2009.pdf">
      Amendment to the Sea-to-Sky Land and Resource Management Plan (LRMP) to Include Non-Commercial Winter Recreation Zones
    </a></li>
    <li><a href="https://www2.gov.bc.ca/assets/gov/farming-natural-resources-and-industry/natural-resource-use/land-water-use/crown-land/land-use-plans-and-objectives/southcoast-region/seatosky-lrmp/plan/seatosky_lrmp_plan_non-commercial_winter_recreation_zones_7apr2009.pdf">
      Descriptions of Non-Commercial Winter Recreation Zones Sea-to-Sky Land and Resource Management Plan (LRMP)
    </a></li>
  </ul>
  <h4>Other Helpful Links</h4>
  <ul>
    <li><a href="https://bcparks.ca/explore/parkpgs/callaghan_lk/banner-pass-section58-closure-sign.pdf?v=1609795150398&fbclid=IwAR2abSOJmk9WF-TKZg15KU8xTSFU7iSJEg7JQx9HyybcX8ZcvYnv-zO8dMI">
      The Callaghan Section 58 Non-Motorized Recreation Closure Area
    </a></li>
    <li><a href="https://maps.gov.bc.ca/ess/hm/imap4m/">
      iMapBC - source for map data layers</a> (from iMapBC search for the layer named 'Winter Recreation Zoning - Non-Commercial - Sea to Sky LRMP - Non Legal')
    </li>
  </ul>
  <h4>Relevant User Groups</h4>
  <ul>
    <li>British Columbia Mountaineering Club (BCMC)</li>
    <li>University of British Columbia (UBC) Varsity Outdoor Club (VOC)</li>
    <li>Alpine Club of Canada (ACC)</li>
    <li>Federation of Mountain Clubs of British Columbia (FMCBC)</li>
    <li>British Columbia Snowmobile Federation (BCSF)</li>
    <li>Powder Mountain Snowmobile Club</li>
    <li>Black Tusk Snowmobile Club</li>
  </ul>
  <p>
    Note, this is not an exhaustive list of resources. If you know of more please contact me and I will add them.
  </p>
</div>
{% endblock content %}
